body {
  font-family: Arial;
  background: #f2f7ff;
  text-align: center;
  padding: 20px;
}

textarea {
  width: 80%;
  height: 120px;
  font-size: 16px;
}

button, select {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

.word {
  display: inline-block;
  background: white;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
}
